@model List<Estudiante>


@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex flex-column justify-content-center w-100 h-100 px-5">
    <h1 class="text-light text-dark">Panel de Control</h1>
    <div class="row">
        <a asp-action="CreateOrEdit" class="btn btn-outline-success col-2">Registrar Estudiante</a>
        <!-- Barra de búsqueda -->
        <form class="form-inline d-flex col-8 gap-2">
            <input type="text" class="form-control col-6" name="query" placeholder="Buscar estudiante...">
            <button type="submit" class="btn btn-primary col-4">Buscar</button>
        </form>
    </div>
</div>

<div class="mt-4">
    <table class="table table-striped" id="search-results">
        <thead> <tr> <th>Nombre</th> <th>Edad</th> <th>Fecha de Ingreso</th><th>Acción</th> </tr> </thead>
        <tbody>
            <!-- Aquí se mostrarán los resultados --> 
            @if (Model != null && Model.Any())
            {
                foreach (var estudiante in Model)
                {
                    <tr> 
                        <td>@estudiante.Nombre</td> 
                        <td>@estudiante.Edad</td>
                        <td>@estudiante.Fecha.ToString("dd/MMMM/yyyy")</td>
                        <td>
                            <a asp-action="CreateOrEdit" asp-route-id="@estudiante.Id" class="btn btn-primary">Editar</a>
                            <a href="/Home/Delete/@estudiante.Id" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr> <td colspan="3">No se encontraron resultados.</td> </tr>
            }
        </tbody>
    </table>
</div>